<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subTwo.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">

	<title>Sub2</title>
</head>

<body>
	<div id="mainContainer">

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Web Development&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Assignment 2</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Dissimilarities of Website Creation Techniques</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								Dissimilarities of Website Creation Techniques
							</h1>
							<hr class="half">
							<h3>
								Website Creation Techniques
							</h3>
							<h5>
								Online Website Creation Tools
							</h5>
							<p>
								There are many online website creation tools that you are able to utilize to create websites within the comfort of your own browser, or maybe their own proprietary software. These tools do not require the user to have any prior coding knowledge, only a basic knowledge of how to operate a computer is required. Every website creation tool has its own advantages, features and disadvantages, which is why some developers will prioritize using one or many over the others. Examples of website creation tools are as follows below.
							</p>
							<ul>
								<li>
									Shopify
								</li>
								<li>
									AWS
								</li>
								<li>
									Squarespace
								</li>
								<li>
									Wix
								</li>
							</ul>
							<h5>
								Custom-Built Websites
							</h5>
							<p>
								Custom built websites characterize the process of a web developer making the website from scratch using the necesarry languages and markdown languages. Someone that requires a website, but not does not have the required knowledge or the time to make website from scratch, may hire a web developer to make a website for them. The most common resources used for this are shown below.
							</p>
							<ul>
								<li>
									HTML
								</li>
								<li>
									CSS
								</li>
								<li>
									JS
								</li>
								<li>
									PHP
								</li>
							</ul>
							<h3>
								Dissimilarities
							</h3>
							<h5>
								Design and Flexibility
							</h5>
							<p>
								Dissimilarities of building a website from scratch and using an online website creation tool are vast, but I will elucidate and conclude a few of those statements in this section. An online website creation tool, allows a user to create a website without having the required knowledge and still enables the user to have an end product that is of high quality. Custom built sites either means that you would hire someone to build the website for you, or you build it yourself from scratch using the technologies listed above.
							</p>
							<p>
								Another dissimilarity could be that using an online website creation tool means that you are bound to whatever features that tool has in terms of design and funcitonality. If you custom-build a website you are able to design the website and functionalities specifically to how you need it. 
							</p>
							<p>
								In terms of performance, creating a website from scratch means that you are able to optimize your website manually, from start to finish whilst using your own techniques to increase performance. Utilizing online website creation tools in regards to performance means that you, again, bound to whatever functionalities the creation tool has and you may not be able to optimize the website from start to finish as best as possible. However, an online website creation tool my enable a user to optimize their website using predefined functionalities that are formalized by experts and serve to be effective.
							</p>
							<p>
								Functionality of a custom built website would usually mean that it has all the required functionalities that meet your needs for a website, whereas, with an online website creation tool, you are sometimes able to list all the available functionalities and "drag n drop" to simply add one functionality. Having this range, and choice, of functionalities allows a user to expand their horizons on what their website may be able to achieve. Custom built websites requires the user to make every functionality from scratch without the help of a curated list of sorts or an easy way to implement respective functionalities.
							</p>
							<p>
								A visitor of your website would expect your website to have a good user experience (UX), as it is the first impression of your identity online; ultimately deciding if you convert the visitor (they become a client or similar). Using an online website creation tool allows a user to implement and streamline user experiences with ease as most websites created online, originate from a template where a user just replaces text and images. So the user experience is already there, developed by a team of experts and reviewed over many times for perfection. On the other hand, custom building a website, in all likelihood, the user experience will not be as adequate as that of a high end template from an online website creation tool.
							</p>
							<p>
								Going hand in hand with user experience, enter: user interface (UI). The user interface must be adequatley implemented otherwise the user will have a hard time navigating your website and thus they have a poor user experience. Using an online website creation tool; there is a good chance that the tool you are using enforces high quality user experiences and interfaces on templates or on their editors. Custom building a website requires the user to take into account many topics such as animations, CSS styling, page layout, and other specifics. This requires way more work than just "drag n drop" that resides on some, or most, online website creation tools.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOne">
								<img id="pkg" src="../media/loc.png"><div id="fileStatWC">Word Count: 0</div>
							</div>
							<div id="statTwo">
								<img id="pkg" src="../media/pkg.svg"><div id="fileStatDeps">Dependencies: 5</div>
							</div>
							<div id="statThree">
								<img id="time" src="../media/time.svg"><div id="fileStat">Start Date: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					This website has been pushed to a GitHub repository.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
<script src="../scripts/queries.js"></script>
</html>