<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subThree.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">

	<title>Sub3</title>
</head>

<body>
	<div id="mainContainer">

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Web Development&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Assignment 2</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Technologies Utilized During Development</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								Technologies Utilized During Development
							</h1>
							<hr class="half">
							<h3>
								Outlining Technologies
							</h3>
							<em>
								Below is a list of technologies that may be used during web development.
							</em>
							<ul>
								<li>
									HTML, CSS
								</li>
								<li>
									JavaScript
								</li>
								<li>
									PHP
								</li>
								<li>
									MySQL
								</li>
								<li>
									Scss/Sass
								</li>
							</ul>
							<h3>
								Dissimilarities of Specific Techniques
							</h3>
							<em>
								In the previous section, I had outlined the dissimilarities between online website creation tools and custom building websites, in this section I will explain the differences between the specific technlogoie and techniques that are used in both instances of website creation. 
							</em>
							<p>
								Languages such as HTML, CSS are not considered to be languages, they are instead considered to be a markdown language. This means that they solely based on providing a framework for a runtime to make use of. In this case that runtime would be JavaScript (in most cases); JavaScript provides websites with most, if not all, of the user interaction, user experience, and behind the scenes functions. The key difference between HTML/CSS and JavaScript is that HTML/CSS is a markdown language which just provides a framework for website objects, whereas JavaScript is a programming language that is capapable of logical calculations and interfaces with the browser.
							</p>
							<p>
								PHP is another programming language, like JavaScript, it can execute logical calculations and interface with the browser excepit it is capable of doing server side processing too. PHP accepts the use of HTML/CSS and JavaScript and many other common web development solutions all within the syntax. A web server that runs PHP will render the website on the server, passing any required data to the website, then sending it to the client. This is vastly different to the conventional HTML/CSS and JavaScript setup because in that scenario the client is just requesting the specified files and "that's that". However, PHP will render the website BEFORE sending to the client which allows it to append data, adding another platform at which the client is able to interface with.
							</p>
							<p>
								MySQL is a server language, but more modern solutions allow for the use of MySql on the client (in the browser). MySQL is a language that revolves around interfacing with a specified database to request and received data based on a defined set of requirements. MySQL is specialised and excels in this area compared to other languages when interfacing with databases. Other languages may be able to interface with databases, yes, but MySQL provides a solution to the lack of support and/or quality in those languages. MySQL is only used for interfacing with databases and therefore is not able to do things like JavaScript, such as changing the <span id="code">innerHTML</span> property of a &lt;p&gt; tag.
							</p>
							<p>
								Scss or Sass is a CSS pre-processor; They take the fundamentals of CSS and is able to add more working parts to it. Scss or Sass is able to append enough functionalities that CSS can actually be considered a programming language in some cases. Using functions such as if statements and booleans to characterize properties for object styling. CSS is not currently able to make explicit comparisons using if statements or even use booleans to express values on properties. That is the key difference between CSS and Scss/Sass.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOne">
								<img id="pkg" src="../media/loc.png"><div id="fileStatWC">Word Count: 0</div>
							</div>
							<div id="statTwo">
								<img id="pkg" src="../media/pkg.svg"><div id="fileStatDeps">Dependencies: 5</div>
							</div>
							<div id="statThree">
								<img id="time" src="../media/time.svg"><div id="fileStat">Start Date: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					This website has been pushed to a GitHub repository.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
<script src="../scripts/queries.js"></script>
</html>