<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subOne.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Creation of This Blog</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Introduction & Creation of this Blog</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								Introduction & Creation of this Blog
							</h1>
							<hr class="half">
							<h2 id="contents">Contents</h2>
							<ul>
							<li><span style="font-size: 17px; font-weight: bold;">Introduction</span></li>
							<li><div style="font-size: 17px; font-weight: bold;">Interactions</div>
								&emsp;- Navigating Pages<br>
								&emsp;- Overall Statistics Interactions<br>
								&emsp;- Do you really need this segment?</li>
							<li><div style="font-size: 17px; font-weight: bold;">Creation</div>
								&emsp;- File Tree Structure<br>
								&emsp;- Syntax Standards<br>
								&emsp;- Development Techniques</li>
							</ul>
							<h2 id="introduction" style="margin-top: 35px;">Introduction</h2>
							<p>I will explain how I designed and implmented this website on all fronts: front end, back end (yes I have some back-end structures-ish). I may also include how I host this website and ensure the development environment was suitable.</p>
							<p>In additon, this readme (should) contain all the information that you need to use this website proficiently. The below headings contain content that describe the functionality and features of the website and how to go about using each one.
							<h2 id="interactions" style="margin-top: 35px;">Interactions</h2>
							<p>This blog contains some functionality which is almost a given on any website, otherwise the retention rate would, statistically, be very low. Lets start by explaining the most basic interaction that you can utilize.</p>
							<h3 id="navigating-pages">Navigating Pages</h3>
							<p>(Below) On the entry page of the website there is a table that contains the titles of every bucket that I talk about on this blog. By clicking on one of thse titles, you guessed it, the website will navigate to the respective page.</p>
							<img src="../media/screenshot1.png"></img>
							<p>When you are present on one of these said pages, there are various ways to navigate back to the origin. (Below) You can click on &quot;Projects&quot; in the header gray box, if you are on mobile you can see there is a back button, or use conventional methods such as using the browser interface or peripherals. 
							<br></br></p>
							<img src="../media/screenshot2.png"></img>
							<br></br>
							<h3 id="-overall-statistics-interactions">Overall Statistics Interactions</h3>
							<p>On all pages there will be a segment on the right hand side of, or under, the content of that page. The first two items are dedicated for those that want to confirm their interest or ensure that they are notified when a new version of the blog is available.</p>
							<h3 id="interests">"Interests"</h3>
							<p>If you click this you will see, the number goes up and the star turns yellow. This is essentially the same as liking a video on YouTube, it does do anything besides count how many people click on it. Its main purpose is to give me an idea of how many people like the content that I am writing, which I can then compare against the website visits to better curate my content (I guess?).</p>
							<h3 id="watchers">"Watchers"</h3>
							<p>If you click on this button however, more magical things happen. </p>
							<p>It will first prompt you that it requires your Email so it can notify you when there is a new content available on this blog. This Email is stored in my database for this blog, which is explained in below segments. Once you enter in your (correct) Email, the eye icon will change to a normal.. eye color. White and black pupil with a random color of course, fyi.</p>
							<h3 id="do-you-really-need-this-segment-" style="margin-top: 35px;">Do you really need this segment?</h3>
							<p>On any page, you can scroll all the way to the bottom, or just look at the bottom, and you can see a blue container that allows you to visit the GitHub repo. That GitHub repo contains <span style="font-style: italic">all</span> of the code that was implmented for the front-end solution.</p>
							<h2 id="creation" style="margin-top: 35px;">Creation</h2>
							<p>In this section of the page, I will explain how I went about creating this blog from scratch. It is important to document the development period because there is a higher chance the information will be retained.</p>							
							<h3 id="file-tree-structure">File Tree Structure</h3>
							<p>For the sake of my sanity I will publish all examples of a file tree structure as a screenshot from the VSC file explorer.</p>
							<p>The overall tree structure (entire solution) is as follows:</p>
							<img id="fileStructure" src="../media/fileStructure.png"></img>
							<br>
							<p>(Above) I initially configured the solution to be all client-side, which means there is no server-side solution. This also means that the use of external modules becomes less likely because that would require me to use webpack or some form of environment like React.js. For this project I was just planning on developing this blog on just the basics as it doesn't require a high-tech solution.</p>
							<p>We also have the folders: media, scripts, styles and views. Media is responsible for holding all media that is on this blog like the images (like the one above) and icons. Scripts holds what little JavaScript there is on this blog and styles holds all the .CSS files. Views is a folder that I commonly used in my projects; it holds all the .HTML files.</p>
							<h3 id="syntax-standards">Syntax Standards</h3>
							<p>Having standards in your code is (quite) important because it makes your code easier to read later on and for other people that may look at your code, in the future. For this project I had standards only for the .CSS and .JS files.</p>
							<p>One example of a .JS standard would be how I declare the variables and their naming conventions.</p>
							<h3 id="development-techniques">Development Techniques</h3>
							<p>[Text Here]</p>
							<hr class="half2">
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;17/06/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Available on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>