<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subOne.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Customer Expectations</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Customer Expectations</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">

							<h1>
								Customer Expectations
							</h1>
							<hr class="half">

							<h2 id="introduction" style="margin-top: 35px;">Introduction</h2>
							<p>Customer expectations is what the customer expects how the platform must behave, prior to seeing or using it. Expectations are set, inherently, by customers because it provides an idea of what the platform can do, within the scope of users’ needs. These expectations can either be upheld or transposed; the platform turns out to be something entirely different but, at the same time, behaves much better than how the customer originally though it was and still gets the sole purpose fulfilled.</p>

							<h2 id="interactions" style="margin-top: 35px;">Why are customer expectations important?</h2>
							<p>The above section defines what customer expectations are; If these expectations are met, the customer is more likely to come back because of how effectively those expectations were met.</p>
							<p>Effectively Changing/Transposing/Swapping these expectations is one way to ensure that the consumer is met with a platform that fulfills their needs, however, directly targeting consumers’ expectations is the most logical. You must do market research and find your target audience, of which will have all the information/data you require to find the expectations of your audience. Using these expectations, you can build a platform that revolves around the ideology of the consumer(s). This is (as) opposed to a solution that is fabricated via researching a general idea or problem and then making a platform to cater for that problem.</p>
							<p>Another point of interest that would concern a developer to meet, or supplement, these expectations would be to retain the value of your brand name. Suppose two users have purchased one product each from your platform, the first user is very pleased with their product and the second user is not pleased at all.</p>

							<ul>
								<li>The first user is likely to come back to your platform again and/or suggest your platform to another person.</li>
								<li>The second user is likely to not come back to your platform and probably won’t contribute to the growth of your brand either.</li>
							</ul>

							<p><span style="font-weight: bold;">To efficiently answer the question: “Why are customer expectations important”</span>; Expectations characterize what a consumer expects. If these expectations are not met, or supplemented, then this will lead to lack of retention and/or loss of business.</p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;18/11/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 18/11/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This is a fork of an existing GitHub Repo. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Code also on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>