<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subTwo.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>E-Commerce Case Studies</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">E-Commerce Case Studies</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">

							<h1>
								E-Commerce Case Studies
							</h1>
							<hr class="half">

							<ul>
								<li>The fundamentals of E-Commerce are open for interpretation where different organizations form their own system around these fundamentals, based on the scope of their business. However, sometimes these systems are ineffective so much as so that it warrants a re-design/refactor of said system.</li>
							</ul>

							<h2 id="introduction" style="margin-top: 35px;">Underwater Audio: Reduced Distractions</h2>
							<p>A notable organization, that is utilizing E-Commerce; “Underwater Audio”, bumped their sales by an extortionate 41%. This is a company that specializes in sales of audio equipment, mostly headphone and earphones, along with IEM types of earphones too.</p>
							<p>Through streamlining their content, they were able to get this 41% bump in sales. The below example shows the difference between the two versions of their products page, where a table was simplified, repeated text at the bottom was removed, and the comparison information was made clearer</p>

							<img src="../media/underwaterAudio.webp">

							<p>Ensuring the intentions of products are clear is the key to getting more conversions on your E-Commerce store, in this case it was streamlining the textual information to make it easier to compare the products. To quote the CEO of Underwater Audio: “the simplest solution is often the best”, which is precisely the solution that worked in this scenario. </p>
							<p>Users that visit this page will now be able to compare these products and form a versed opinion on which is (most) appropriate for their situation. Doing so will exponentially increase the chance that this user will be converted into a consumer, therefore, making the business more money.</p>

							<br>
							<h2 id="introduction" style="margin-top: 35px;">Company Folders: Reduced Website Friction</h2>
							<p>Another organization worth analyzing is “Company Folders”; where they specialize in the manufacturing, customization, and selling file folders. They had increased their conversion rate by 68%.</p>
							<p>Their main problem, that they had remedied, was their online quote function which is a vital part of their marketing funnel. In making this process as smooth as possible, it would essentially lead to driving more sales for the business. This was perceived as a relatively simple task, however, there are over 15 million product combinations that a user can customize with. Additionally, there was a large portion of users leaving the form uncompleted, which (probably) demonstrated that it was a much too complex process for the user as well.</p>
							<p>Prior to surveying their best customers, they had assumed that making the form conform to the size of one page would help improve prospects, however, after surveying their best customers, they found out that a full redesign was more appropriate. Company Folders approached the situation with a single-step process and had broken the (below example) form down into a more “bite-sized” chunks that all fell into an exclusive category. Doing so increased their conversion rates by 61%.</p>

							<img src="../media/companyFolders.webp">

							<p>Keeping people focused, thus increasing conversions is possible by breaking complicated systems down into manageable steps. In spite of the fact that additional clicks can often be viewed as a new opportunity to lose customers, Company Folders offers the suggestion of simplifying to one-page forms for now. </p>

						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;18/11/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 18/11/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This is a fork of an existing GitHub Repo. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Code also on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>