<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subTwo.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Twitter Growth</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Twitter Growth</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								Twitter Growth
							</h1>
							<hr class="half">
							<h3>
								Header Goes Here
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis tempus ante ut elementum. Quisque sit amet mi vestibulum, varius eros ut, bibendum ipsum. Nulla ac nunc sed orci pharetra congue ac non mauris. Quisque rhoncus sem et nulla tincidunt tincidunt. Donec ut erat mattis, interdum leo et, consectetur elit. Ut ligula metus, ullamcorper vitae ante vitae, tincidunt ornare justo. Donec accumsan mi nec ligula suscipit bibendum. Nunc semper nec erat ut congue. Duis iaculis aliquam lacus, ac tempor nisi rutrum tempor. Suspendisse consequat pretium feugiat. Suspendisse tristique urna et elit fermentum, a laoreet turpis congue. Sed velit nisi, accumsan eget elit eu, lacinia ultricies sem. Ut id posuere diam.
							</p>
							<hr class="half2">
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: DD/MM/YYYY</div>
							</div>
							<div id="statFive">
								<img id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Available on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>