<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subThree.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Benefits of E-Commerce</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Benefits of E-Commerce</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">

							<h1>
								Benefits of E-Commerce
							</h1>
							<hr class="half">

							<ul>
								<li>E-Commerce is the process of selling products electronically; through the internet and has many advantageous fundamentals of which I will elucidate in the following section.</li>
							</ul>

							<p>As the previous case studies explored, formatting website content effectively is the key to maximizing the potential of the website generating money. However, there are many disadvantages that you can’t get around when utilizing E-Commerce within your business or basing your business around E-Commerce.</p>

							<h2 id="introduction" style="margin-top: 35px;">Benefit #1: Potential Reach</h2>
							<p>Because E-Commerce is based online, this means that you can market your website to a select audience, or to the masses through a plethora of means. Even medians that normal (physical) store would use. This is because your store is based online so your users don’t have to visit a physical location to buy a product or engage with your brand. In fact, 60% of people use social media in their free time, which means you can market your brand to these people, on social media platforms, potentially yielding thousands of new customers with ease.</p>
							<p>Searching online for a product that you would like to purchase would almost always take less time than going to a physical store, finding what you need, buying it, and then coming back with your product. The level of accessibility that E-Commerce offers is extensive and can even extend to overseas audiences, making your client base even more vast.</p>

							<h2 id="introduction" style="margin-top: 35px;">Benefit #2: 24/7 Everything</h2>
							<p>The ability to have an online store that is open 24 hours a day, 7 days a week, is a very valuable quality. The potentially to span across multiple time zones may proportionally increase your sales, based on how vast your audience is at any given time. Your business, being based around E-Commerce, will be much cheaper to run and maintain than a physical store, especially for theses timeframes.</p>
							<p>Not only will your store stay open 24/7 but this also means customers can submit their questions anytime they want, and various methods will be utilized to fulfill those questions. A multitude of these methods proving to be very effective when put into practice, such as, automated bots to answer simple questions; relatively easy to run since they can sit on the same server that the website is being hosted on.</p>

							<h2 id="introduction" style="margin-top: 35px;">Benefit #3: Low Running Costs</h2>
							<p>As opposed to owning a physical store, running an online store is much cheaper. Being able to display your products in a variety of different ways, where these formats can be swapped between in a moment’s notice, can be very useful and could serve to be functionally advantageous at times like Christmas. For example, the gifts section would appear at the top automatically, as opposed to whatever categories the user looks at the most.</p>
							<p>Not having to rent out, or purchase a property is a massive advantage when it comes to only ecommerce exclusive platforms for your business, because not only do you not have to buy property, maintain it, and buy interior(s) such as: display cases, shelves, counters, EPOS Systems, and all the rest. Through this statement, you can also scale an ecommerce exclusive company much easier than one that is tied to a physical location as it is as simple as just upgrading your web servers or improving your marketing campaign or increasing your budget.</p>

						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;18/11/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 18/11/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This is a fork of an existing GitHub Repo. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Code also on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>