<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subFour.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Business Ventures</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Business Ventures</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							
							<h1>
								Drawbacks of E-Commerce
							</h1>
							<hr class="half">

							<ul>
								<li>E-Commerce is the process of selling products electronically; through the internet and has many disadvantageous fundamentals of which I will elucidate in the following section.</li>
							</ul>

							<p>As the previous case studies explored, formatting website content effectively is the key to maximizing the potential of the website generating money. However, there are many disadvantages that you can’t get around when utilizing E-Commerce within your business or basing your business around E-Commerce.</p>

							<h2 id="introduction" style="margin-top: 35px;">Drawback #1: Logistics Management</h2>
							<p>Logistics is the process of taking product(s) from one location and transporting (or delivering) them to another. In the case of a business like “Amazon”, they have a very strong delivery service, where sometimes you can even get your product the same day that you order it. This is quite hard to do and requires complex systems to be implemented; it proves to be non-reliable at times of influx, such as at Christmas or other yearly events.</p>
							<p>Delivery may take longer than expected, may cost (more) money than initially thought, or may even be terminated completely. In these cases, the consumer may be disappointed in the service of the store and may request a refund of their product, discount, or some other form of compensation. When the situation escalates to this point, it is common that the business in question loses money.</p>
							<p>In the case of a consumer returning their product, this may seem like an easy-enough process, however, it requires more systems to be implemented than what is required to deliver the product initially. The below graph shows how consumers would prefer to return their product. The graph shows how having more medians for consumers to return their product is a good idea, but this becomes extremely cumbersome for the business, in the sense that it costs much more money, proportionally complex, and loses the business money when a product is returned.</p>

							<img src="../media/returnGraph.png">

							<h2 id="introduction" style="margin-top: 35px;">Drawback #2: Touchpoints</h2>
							<p>Touchpoints refer to the consumer being able to physically see, and touch, the product. Much like in real clothes store a consumer would be able to go in and touch products or even try them on. Because the nature of E-Commerce, it is solely based online which means consumers do not have access to this novelty.</p>
							<p>This can negatively affect an online business as it creates a stigma around ordering something that you currently cannot see or even touch.</p>
							<p>There are various situations where consumers are in the process of buying a product, but they can’t figure out if it would fit them or not. This is a major drawback as a good portion of the users would seek out a physical store to go to instead, to retain the idea of being able to handle the product initially. This idea consolidates the “consideration” phase before the consumer purchases the product, and having that physical element absent can lead to loss of potential, amongst products. This statement goes together with the previous statement about Logistics Management as the consumer would likely return the item if it’s not what they thought it was.</p>

							<h2 id="introduction" style="margin-top: 35px;">Drawback #3: Online Privacy & Security</h2>
							<p>Most customers trust that the security of your online store is adequate so much so that when they entrust you with their personal/payment information, this information is not freely given out or stored in an insecure location. Ensuring that the security and privacy sector of any entity can cost a sizeable chunk of the budget as it is the forefront of many online stores and should be, as trust is an inherent requirement in the scenario of online sales.</p>
							<p>In addition to this, one attacker may be able to bypass your security/privacy policies and gain unwarranted access to your systems. They then have the potentially to control large portions of your business, destroy it even. All your customers (and business’) data are at risk, and you could face legal action from several entities. The business that was responsible for these outcomes, must be held accountable, so that is why its imperative to keep security and privacy to adequate quality which is determined by the public or law.</p>

						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;18/11/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 18/11/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This is a fork of an existing GitHub Repo. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Code also on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>