<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="manifest" href="../manifest.json">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subFour.css">
	<link rel="stylesheet" type="text/css" href="../styles/queries.css">
	<link rel="icon" href="../media/pfpRound.png">

	<title>Appendix and References</title>
</head>

<body>
	<div id="mainContainer">

		<div id="mobileBackContainer" onclick="takeUserBack();">
			<img id="mobileBackImg" src="../media/backArrow.png">
			<div id="mobileBackText">
				Go Back
			</div>
		</div>

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Blog&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Projects</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Appendix and References</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
														
							<h1>
								Appendix and References
							</h1>
							<hr class="half">

							<h2 id="introduction" style="margin-top: 35px;">References</h2>
							<ol>
								<li>Why being able to offer 24/7 customer service will benefit your business (2017) Frontline. Available at: https://wearefrontline.co.uk/blog/why-being-able-to-offer-247-customer-service-will-benefit-your-business/ (Accessed: November 18, 2022).</li>
								<li>Steele, M. (2021) Maintaining your online privacy, NIST. Marcus Steele. Available at: https://www.nist.gov/blogs/manufacturing-innovation-blog/maintaining-your-online-privacy#:~:text=Cookies%20and%20fingerprinting%20can%20track,to%20be%20from%20your%20business. (Accessed: November 18, 2022).</li>
								<li>Lightspeed 2021-03-23 et al. (2021) Exploring the advantages and disadvantages of Ecommerce, Lightspeed. Available at: https://www.lightspeedhq.com/blog/advantages-and-disadvantages-of-ecommerce/ (Accessed: November 18, 2022).</li>
								<li>What are customer touch points &amp; why do they matter (no date) The Interaction Design Foundation. Available at: https://www.interaction-design.org/literature/article/customer-touchpoints-the-point-of-interaction-between-brands-businesses-products-and-customers (Accessed: November 18, 2022).</li>
								<li>Charlton, G. (2021) Ecommerce returns: 2020 stats and Trends, SaleCycle. Available at: https://www.salecycle.com/blog/featured/ecommerce-returns-2018-stats-trends/ (Accessed: November 18, 2022).</li>
								<li>14 advanced tips: Increase your ecommerce conversion rate (no date) 14 Advanced Tips: Increase Your eCommerce Conversion Rate - Core dna. Available at: https://www.coredna.com/blogs/increasing-ecommerce-conversion-rates (Accessed: November 18, 2022).</li>
								<li>19 ecommerce case studies [2022 edition] (no date) 19 eCommerce Case Studies [2022 Edition] - Core dna. Available at: https://www.coredna.com/blogs/ecommerce-case-studies#reduce-website-friction (Accessed: November 18, 2022).</li>
							</ol>

							<h2 id="introduction" style="margin-top: 35px;">Appendix</h2>
							<p style="font-style: italic;">None</p>

						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOverallTitle">Page Statistics -</div>
							<div id="statOne">
								<img id="statIcon" src="../media/likeIcon.webp">
								<div class="statText" id="statLikes">0 Interests</div>
							</div>
							<div id="statTwo">
								<img id="statIcon" src="../media/eyeIcon.webp">
								<div class="statText" id="statWatching">0 Watchers</div>
							</div>
							<div id="statThree">
								<img id="statIcon" src="../media/publishIcon.webp">
								<div class="statText" id="statWordCount">Word Count: 0</div>
							</div>
							<div id="statFour">
								<img class="intervalIcon" id="statIcon" src="../media/timeIntervalIcon.webp">
								<div class="statText">Changed: &nbsp;18/11/2022</div>
							</div>
							<div id="statFive">
								<img class="timeIcon" id="statIcon" src="../media/timeIcon.webp">
								<div class="statText">Published: 18/11/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This is a fork of an existing GitHub Repo. README.md is also available.
				</div>
				<div class="itemSixTitleContentMediaQuery">
					Code also on GitHub.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/script.js"></script>
</html>